<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="GmailSettings" type="CSA.Reporter.GmailSettings, CSA.Reporter, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
  </configSections>
  <GmailSettings GmailUser="Replace Gmail user here" GmailEncryptedPassword="Replace Gmail encrypted password here" />
</configuration>