<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CounterStrikeAlerter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <CounterStrikeAlerter.Properties.Settings>
            <setting name="ServerAddressAndPort" serializeAs="String">
                <!-- === GoldSource server type === "STYLE.INDUNGI.RO # FATAL ERROR" 93.119.24.12:27015 -->
                <!-- === Source server type ===     "Global Gaming Nis"              193.104.68.49:27040 -->
                <value>193.104.68.49:27040</value>
            </setting>
            <setting name="BaloonHideInterval" serializeAs="String">
                <value>20000</value>
            </setting>
        </CounterStrikeAlerter.Properties.Settings>
    </applicationSettings>
</configuration>
